@font-face {
    font-family: fa;
    src: url(https://www.fontspace.com/public-pixel-font-f72305);
}

h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    
}

button{
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 2px 2px;
    font-size: 5px;
    margin: 4px 2px;
    cursor: pointer;
}

#easy{
    color:lime;
    border: 2px solid lime;
}

#medium{
    color:yellow;   
    border: 2px solid yellow;
}

#hard{
    color:red;
    border: 2px solid red;
}

